* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.order {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sushi {
    background-color: pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.order img{
    height: 200px;
}

.order input:focus {
    outline: none;
}

.order input, .order label, .order select{
    margin: 10px;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: sienna;
    font-family: Arial, Helvetica, sans-serif;
}

.register input, .register select, .register label{
    background-color: yellowgreen;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid olive;
    margin:10px;
}
