@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Syncopate";
    background-color: pink;
}

.task1 {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
}

.task1 h1 {
    text-transform: capitalize;
}

.fridge {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    min-width: 200px;
}

.item img {
    height: 100px;
    border: 3px solid black;
    margin: 10px;
}

.task2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task2 .menuItem {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    background-color: rgb(238, 42, 107);
    width: 400px;
    height: 100px;
    border-radius: 50px;
}

.task2 .menuItem:hover {
    background-color: rgb(228, 1, 1);
}

.task2 .menuItem div,
.task2 .menuItem p {
    text-transform: capitalize;
    font-size: 40px;
    margin-left: 20px;
}

.task3 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: white;
}

header h1 {
    background-color: #bb344a;
    padding: 10px;
    margin: 10px;
}

header h2 {
    background-color: #881e30;
    padding: 10px;
    margin: 10px;
}

.task3 .content {
    display: flex;
    /* margin: 10px; */
}

.left {
    width: 30%;
    margin: 0 10px 10px 10px;
}

.left h2 {
    background-color: #e7556d;
    padding: 10px;
    margin-bottom: 10px;
}

.left h2:nth-child(2) {
    padding-bottom: 100px;
}

.main {
    width: 60%;
    background-color: #e7556d;
    margin: 0 10px 10px 10px;
}

.main h2 {
    background-color: #e7556d;
    padding: 10px;
}

.main h3 {
    background-color: #bb344a;
    margin: 10px;
    padding: 10px 0 50px 10px;
}

.right {
    width: 10%;
    margin: 0 10px 10px 10px;
    background-color: #bb344a;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
    background-color: #881e30;
    padding: 10px;
    margin: 10px;
}

.task4 {
    color: black;
    background-color: #00ff15;
    padding: 10px;
}

.task4 .Content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task4 .links {
    display: flex;
    flex-direction: column;
}

.task4 hr {
    border: 1px solid black;
}

.task4 a {
    text-decoration: none;
    margin: 3px;
    cursor: pointer;
}

.task4 a:hover {
    text-decoration: underline;
}

.task4 .footer {
    text-align: center;
}

.task4 img {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px;
    filter: blur(10px);
    transition: 500ms;
    /* filter: contrast(100000); */
    /* filter: grayscale(100%); */
}

.task4 img:hover {
    transition: 500ms;
    filter: blur(0px);
}