@import url(./reset.css);

nav {
    text-align: center;
    align-items: center;
}

body {
    background-image: url(./back.gif);
    /* filter: noise(1px); */
    display: flex;
    flex-direction: column;
}

nav::before {
    content: "";
    display: block;
    height: 70px;
    width: 100%;
    outline: 4px solid rgb(184, 66, 134);
    background-color: rgb(250, 91, 184);
    position: absolute;
    z-index: -1;
}

nav img {
    height: 50px;
    border-radius: 100%;
    margin: 15px;
    float: right;
}

ul li {
    float: left;
    /* height: 100%; */
    /* margin: 70px; */
    padding: 28px;
}

ul a {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: yellow;
}

ul li:hover {
    background-color: rgb(194, 61, 0);
}

.bodyImage {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    /* height: 200px; */
}